<!DOCTYPE html>
<html>
  <head>
    <title>General stock market report details</title>
  </head>
  <body>
    <h1>Topic:{{ topic }}</h1>
    <p>Creation date:<b>{{ now }}</b></p>
    <p>Creator:<b>{{ creator }}</b></p>
    <p>Data source link: <a href={{source}}><b>Yahoo Finance</b></a></p>
    <hr>
  </body>
</html>