<h1>Topic:{{ topic }}</h1>
<table border={{border}} style="width:100%">
  <tr>
    {% for cell in columns %}
      <td><b>{{ cell }}</b></td>
    {% endfor %}
  </tr>
  {% for row in rows %}
    <tr>
      {% for cell in row %}
        <td>{{ cell }}</td>
      {% endfor %}
    </tr>
  {% endfor %} 
</table>
<hr>