<!DOCTYPE html>
<html>
  <head>
    <title>Textual stock market report details</title>
    <style>
      .text-container {
        text-align: {{align}};
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>Topic:{{ topic }}</h1>
    <span class="text-container"> <!-- Inline parent element -->
      <p style="font-family:{{font}};font-size:{{size}}%;color:{{color}};">{{text}}</p>
    </span>
    <p style="text-align:right;">Source: <a href={{source}}><b>{{source_name}}</b></a></p>
    <hr>
  </body>
</html>